finergy/public/js/lib/*
finergy/public/js/finergyrs/misc/tests/*
finergy/public/js/finergyrs/views/test_runner.js
finergy/core/doctype/doctype/boilerplate/*
finergy/core/doctype/report/boilerplate/*
finergy/public/js/finergyrs/class.js
finergy/templates/includes/*
finergy/www/website_script.js
